<div id="event">
	<h1><%= @event.title %></h1>
	<div id="event_dates"><%= @event.start_date %> - <%= @event.end_date %></div>
	<p><%= @event.description %></p>
	<% if admin_signed_in? %>
		<%= link_to "Edit", edit_event_path(event.id) %>
	<% end %>
</div>